header {
    top: 0;
    z-index: 1000;
}

main {
    margin-top: 128px;
    padding-bottom: 200px;

    section {
        scroll-margin-top: 128px;
    }
}

#bio {
    text-align: justify;
}

#suggest img {
    height: 240px;
}

@media screen and (device-width >= 992px) {
    #suggest img {
        height: 440px;
    }
}